ansicon==1.89.0
arrow==1.3.0
asgiref==3.7.2
bcrypt==4.1.2
beautifulsoup4==4.12.3
blessed==1.20.0
blinker==1.9.0
boto3==1.34.74
botocore==1.34.74
Brotli==1.1.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.8
colorama==0.4.6
comtypes==1.2.1
cryptography==41.0.4
DateTime==5.5
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.2
django-autoslug==1.9.9
django-background-tasks==1.2.5
django-cleanup==8.0.0
django-compat==1.0.15
django-crispy-forms==2.1

django-picklefield==3.1
django-q==1.3.9
django-recaptcha==4.0.0
django-storages==1.14.2
django-tinymce==3.6.1
EasyProcess==1.1
entrypoint2==1.1
filelock==3.13.1
Flask==3.1.0
Flask-Admin==1.6.1
Flask-SQLAlchemy==3.1.1
fontawesomefree==6.5.1
greenlet==3.1.1
gunicorn==21.2.0
html5lib==1.1
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.5
jinxed==1.2.1
jmespath==1.0.1
lxml==5.1.0
MarkupSafe==3.0.2
mechanize==0.4.8
mss==9.0.1
numpy==1.26.3
packaging==23.2
Pillow==10.0.1
platformdirs==4.2.0
plum-dispatch==1.7.4
pptxtopdf==0.0.2


pycparser==2.21
pygame==2.5.2
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
PyPDF2==3.0.1
pyscreenshot==3.1
pyTelegramBotAPI==4.23.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-pptx==0.6.23
python-slugify==8.0.1
pytz==2024.1
redis==3.5.3
reportlab==4.0.9
requests==2.31.0
s3transfer==0.10.1
setuptools==75.8.0
six==1.16.0
slugify==0.0.1
sms-bomb==1.0.2
soupsieve==2.5
Spire.Doc==12.1.0
Spire.Office==9.1.0
Spire.Pdf==10.1.1
Spire.Presentation==9.1.0
Spire.Xls==13.12.6
SQLAlchemy==2.0.37
sqlparse==0.4.4
telebot==0.0.5
termcolor==2.4.0
text-unidecode==1.3
torpy==1.1.6
transliterate==1.10.2
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
tzdata==2023.3
Unidecode==1.3.7
urllib3==2.0.6
virtualenv==20.25.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.41.2
whitenoise==6.6.0
WTForms==3.2.1
XlsxWriter==3.1.9
zope.interface==6.2
