{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<div class="cart-container">
    {% if order_items %}
    <div class="cart-top">
        <div class="cart-section">Order №{{ order.id }}</div>
    </div>
    <div class="order-customer">{{order.customer.user.first_name}} ({{order.customer.user.username}})</div>
    
    
    <div class="cart-items">
        {% for order_item in order_items %}
        
        <div class="cart-item" id="block_{{cart_item.id}}">
            <img src="{{ order_item.product.img.url }}" alt="Product Image" class="product-image">
            <div class="item-details">
                <div class="cart-item-section">{{ order_item.product.title}}</div>
                <div class="cart-detail">Price: {% if order_item.currency == 1 %}<span>{% if order_item.product.discount %}{{ order_item.product.discount_price }}{% else %}{{ order_item.product.price }}{% endif %} $</span>{% else %}<span>{{ order_item.product.get_points }} <i class="fa-solid fa-coins"></i></span>{% endif %}</div>
                <div class="cart-detail">Count: <span class="total-count">{{order_item.quantity}}</span></div>
                <div class="cart-detail">Cost: <span class="total-cost">{{ order_item.get_cost }} {% if order_item.currency == 1 %}${% else %}<i class="fa-solid fa-coins"></i>{% endif %}</span></div>
            </div>
            
        </div>
        
        {% endfor %}
        
    </div>
    

    <div style="margin-bottom: 10px;" class="cart-summary">
        <div class="cart-summary-content">
            <div class="cart-summary-text">Contacts: <span>{{ order.contact }}</span></div>
            <div class="cart-summary-text">Additional request: <span>{{ order.note }}</span></div>
            <div class="cart-summary-text">Total products: <span id="total-count">{{ total_count }}</span></div>
            <div class="cart-summary-text">
                To be paid: 
                {% if order.get_total_cost %}{{ order.get_total_cost }} ${% endif %}
                <br>
                {% if order.get_total_points %}{{ order.get_total_points }} <i class="fa-solid fa-coins"></i>{% endif %}
            
            </div>
        </div>
        
        
        <div style="text-align: center;" class="message"></div>
        
    </div>
    <form id="order-form" class="buttons">
        {% csrf_token %}
        <button id="reject" class="button">Reject the order <i class="fa-solid fa-xmark"></i></button>
        <button id="confirm" class="button">Order completed <i class="fa-solid fa-check"></i></button>
    </form>
    <div class="message"></div>
    {% else %}
    <div class="cart-section">Order №{{ order.id }} is empty</div>
    {% endif %}
    <a href="{% url 'admin_orders' %}" class="link">Order</a>
</div>


<script>
    $(document).ready(function(){
        $('#reject').click(function(p) {
            p.preventDefault();
            var formData = $("#order-form").serialize();
            $.ajax({
                type: 'POST',
                url: `/shop/admin-order-reject-ajax/{{order.id}}/`,
                dataType: 'json',
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
                },
                success: function(response){
                    console.log(response);
                    window.location.href = '/shop/admin-orders/'
                },
                error: function(error){
                    console.log(error);
                    window.location.href = '/shop/admin-orders/'
                }
            });
            
        })
        $("#confirm").click(function(e){
            e.preventDefault();
            var formData = $("#clean-form").serialize();
            $.ajax({
                type: 'POST',
                url: `/shop/admin-order-confirm-ajax/{{order.id}}/`,
                dataType: 'json',
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
                },
                success: function(response){
                    console.log(response);
                    window.location.href = '/shop/admin-orders/'
                },
                error: function(error){
                    console.log(error);
                    window.location.href = '/shop/admin-orders/'
                }
            });
        });
    });


    $(document).ready(function(){
        totalCount = 0;
        totalSum = 0;
        $('.total-count').each(function() {
            var totalC = parseFloat($(this).text()) || 0;
            totalCount += totalC;
        })
        $('.total-cost').each(function() {
            var totalPrice = parseFloat($(this).text()) || 0;
            totalSum += totalPrice;
        })
        $("#total-count").text(totalCount);
        $("#total-price").text(totalSum);
    })
</script>

{% endblock %}